      <div class="row">
      	<div class="span4">
      	  <br/><br/><br/><br/><br/><br/>
      	  <img class="featurette-image pull-left" src="/assets/cartoon-sport-icons.jpg">
      	</div>
      	<div class="span8">
      	  <h2>Sobre mi</h2>
      	  <p>Soy una m&aacute;quina de entrenar y puedo convertir melones como t&uacute; en el pr&oacute;ximo Ussain Bolt o en el siguiente Kilian Jornet</p>
      	  <p>No te lo crees? Espera y ver&aacute;s</p>
      	  <div class="row">
      	  	<div class="span8 cajaredonda" style="background:lightblue">
      	  		<p>He entrenado al Notigam Pressa, al que ascend&iacute; de Regional Preferente a la Premier League.</p>
      	  		<p>Con ellos, gan&eacute; seis FA Cup y tres Champions</p>
      	  	</div>
      	  	<div class="span8 cajaredonda" style="background:lightblue">
      	  		<p>Fui el que empuj&oacute; a Felix Baumgartner para que batiera el record de salto de caida libre.</p>
      	  		<p>Si no es por mi, el muy cag&oacute;n aun estar&iacute;a pensando si salta o no.</p>
      	  	</div>
      	  	<div class="span8 cajaredonda" style="background:lightblue">
      	  		<p>Convenc&iacute a Sylvester Stallone para que volviera al cine.</p>
      	  		<p>Y sin silicona ni botox ni n&aacute;. Simplemente siguiendo mis planes de entrenamiento.</p>
      	  	</div>
      	  </div>
      	</div>      
      </div><!-- /.row -->